//выпадающее менб для досок

button {
    background-color: #00bfa5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.button {
    background-color: #00bfa5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.board-button {
    background-color: #00bfa5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}