*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@import '../scss/fonts';
@import '../scss/mixins';
@import '../scss/variables';
@import '../scss/header.scss';
@import '../scss/gallery.scss';
@import '../scss/card.scss';
@import '../scss/modal.scss';
@import '../scss/board-modal.scss';
@import '../scss/report-modal.scss';
@import '../scss/dropdown.scss';

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    padding-top: 15px;
    font-family: "Noto Sans", sans-serif;
}
