// общее оформление модальных окон

 /* Стили для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный черный фон */
}

.modalContent{
    margin: 25% auto;
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 30px 20px;
    border: 4px solid rgb(145, 145, 145);
    border-radius: 25px;
}

.divModal {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.divModal:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
    .buttonModal{
        background-color: #E9E9E9;
    }
}

.iconModal{
    // font-size: 18px;
    color: #000000;
    font-weight: 700;
    // margin-right: 10px;
    // margin-top: 8px;
    font-size: 24px;
  width: 50px;
  height: 24px;
  line-height: 1;
  text-align: center;
  display: inline-block;
}

.buttonModal {
    font-weight: 700;
    display: flex;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 300px;
    border: 0;
    color: black;
}